body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    font-size: 1.25em;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: rgb(229, 49, 61);
    color: rgba(253, 253, 253, 0.945);
    font-size: 1.6em;
}

.about-section h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-text-stroke: 0.4px #333;
    text-stroke: .75px #333;
    font-weight: 900;
}

.container {
    padding: 0 16px;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
    font-size: 1.2em;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgb(30, 170, 241);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 1.1em;
}

.button:hover {
    background-color: #555;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}